[submodule "OneDrive/Desktop/php-fiesta-cookie/OneDrive/Desktop/php-fiesta-cookie/cover-verbose-memory"]
	path = OneDrive/Desktop/php-fiesta-cookie/OneDrive/Desktop/php-fiesta-cookie/cover-verbose-memory
	url = https://github.com/Jhenzel201880208/cover-verbose-memory.git
